@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
}

.container{
    max-width: 400px;
    min-height: 600px;
    border-radius: 20px 20px 20px 20px;
    border: 2px solid #008000;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--bg-color-container);
}

header{
    height: 100px;
}

header img{
    height: 100%;
    width: 100%;
    border-radius: 16px 16px 0 0;
}

main{
    padding: 5px;
    background-color: #EEE8aa;
    min-height: 250px;
}

main button{
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    color: #FF0000;
    font-size: 1.0em;
    margin: 3px;
    margin-top: 15px;
    border: 1px solid #008000;
    border-radius: 3px;
    padding: 3px;
}

main button:hover:disabled{
    cursor:not-allowed;
}

.btn{
    padding: 5px;
    width: 130px;
    height: 40px;
    margin: 15px;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 6px;
    border: 1px solid #008000;
    color: var(--font-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Gemunu Libre', sans-serif;
    background-color: var(--bg-color);
}

.btn:hover{
    border: 2px solid #008000;
}

#btnApostar:hover:disabled{
    cursor:not-allowed;
}

#btnReiniciar{
    display: none;
}

.resultado{
    display:flex;
    justify-content: space-around;
    align-items: start;
    height: 55px;
}

.resultado .resultadoCircle{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 1.8em;
    color: #ffffff;
    background-color: #009e4c;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer{
    display:flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: 600;
    color: dimgray;
    font-size: 1.2em;
    padding: 15px;
}

footer .valor{
 color: #ff0000;
}

footer #valor{
    border-right: 1px solid #008000;
    padding-right: 10px;
}

footer #acertos{
    border-left: 1px solid #008000;
    padding-left: 10px;
}

@media(max-width:390px){
    main button{
        margin: 1px;
        padding: 1px;
    }
    main{
        min-height: 170px;
    }

    .container{
        min-height: 450px;
    }
}

/* O interruptor - a caixa ao redor do controle deslizante */
:root {
    --bg-color: #ffffff;
    --font-color: #008000;
  }

  [data-theme="dark"] {
    --bg-color: #2f3136;
    --bg-color-container: #0f1118;
    --font-color: #FFFFFF;
  }

.alternarTema{
    text-align: right;
    width: 400px;
    margin-bottom: 5px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Ocultar caixa de seleção HTML padrão */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* O controle deslizante */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0f1118;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0f1118;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Controles deslizantes arredondados */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }